{% extends 'base.html.twig' %}


{% block body %}
<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="d-flex align-items-center">

					<button class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal" data-bs-target="#addRowModal">
						<i cAlass="fa fa-plus"></i>
						Add Row
					</button>
				</div>
			</div>
			<div
				class="card-body">
				<!-- Modal -->
				<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header border-0">
								<h5 class="modal-title">
									<span class="fw-mediumbold">
										New</span>
									<span class="fw-light">
										Row
									</span>
								</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p class="small">
									Create a new row using this form, make sure you
																																																															                              fill them all
								</p>
								<form>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group form-group-default">
												<label>Name</label>
												<input id="addName" type="text" class="form-control" placeholder="fill name"/>
											</div>
										</div>
										<div class="col-md-6 pe-0">
											<div class="form-group form-group-default">
												<label>Position</label>
												<input id="addPosition" type="text" class="form-control" placeholder="fill position"/>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-group-default">
												<label>Office</label>
												<input id="addOffice" type="text" class="form-control" placeholder="fill office"/>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer border-0">
								<button type="button" id="addRowButton" class="btn btn-primary">
									Add
								</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal">
									Close
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="table-responsive">
					<table id="add-row" class="display table table-striped table-hover">
						<thead>
							<tr>
								<th>LastName</th>
								<th>FirstName</th>
								<th>Email</th>
								<th>Phone Number</th>
								<th>Status</th>
								<th style="width: 10%">Action</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>LastName</th>
								<th>FirstName</th>
								<th>Email</th>
								<th>Phone Number</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</tfoot>
						<tbody>
							{% for user in users %}
								<tr>
									<td>{{ user.LastName }}</td>
									<td>{{ user.FirstName }}</td>
									<td>{{ user.Email }}</td>
									<td>{{ user.Tel }}</td>
									<td>{{ user.Status }}</td>
									<td>
										<div class="form-button-action " style="align-items: center;">
											<button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
												<img src="{{ asset('assets/img/edit.png') }}" style="width: 1.6rem; height: auto;" alt="Example Image">
											</button>
											<form action="{{ path('app_user_delete', {'id': user.id}) }}" method="post" style="display: inline;">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
												<button type="submit" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" onclick="return confirm('Do you want to delete this item?')" data-original-title="Remove">
													<img src="{{ asset('assets/img/xbutton.png') }}" style="width: 1.45rem; height: auto;" alt="Example Image">
												</button>
											</form>
										</div>
									</td>
								</tr>


							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div><a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
